<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>In-bastau</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">In-bastau</a>
                {% block select %}{% endblock %}
                {% if current_user.is_authenticated %}
                    <span>
                        <a target="_blank" class="navbar-brand" href="/profile/{{current_user.id}}">{{ current_user.name }} {{ current_user.surname }}</a>
                        <a class="btn btn-light" href="/logout">Выйти</a>
                    </span>
                {% else %}
                    <p>
                        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                        <a class="btn btn-success" href="/login">Войти</a>
                    </p>
                {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>

